* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: var(--vw);
  height: var(--vh);
}

.login-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-1);
}

.login-advertisement {
  width: 340px;
  height: 100%;
}

.login-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.login-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.login-content {
  flex: 1;
  position: relative;
}

.login-footer {
  position: relative;
  height: 30px;
  text-align: center;
}
